<h1>Card</h1>

Test: 
<turbo-frame id="card-<%= @frame_id %>">

  <div class="statement-object">
    <% solution = dereference_helper(@uri)%>
    <% if solution[:streetAddress] %>
      <b><%= solution[:streetAddress] %>, <%= solution[:addressLocality] %></b> 
    <% else %>
      <% if solution[:label] %>
      <b><%= display_literal(solution[:label]) %></b> 
      <% end %>
    <% end %>
  
    <div class="alternate-name"> <%= render partial: 'shared/uri_formater', locals: {uri: solution[:type], type: ""} %></div>
    <%= render partial: 'shared/uri_formater', locals: {uri: @uri, type: solution[:type]} %> 
   
  
  </div>

</turbo-frame>

   <pre>
      <code>
         <%= @entity.graph.dump(:jsonld) %>
      </code>
   </pre>
