<h1>Card</h1>
Test:
<turbo-frame id="card-<%= @frame_id %>">

  <div class="statement-object">
    <b><%= display_object(@entity.label) %></b>
    <div class="alternate-name">
      <% type = @entity.type %>
      <%= type.value&.split("/").last unless type == "http://schema.org/Thing" %>
      <% if type == "http://schema.org/PostalAddress" %>
        -
        <%= @entity.card[:street_address] ||= display_warning("ADDRESS") %>
        -
        <%= @entity.card[:locality] ||= display_warning("LOCALITY") %>
        -
        <%= @entity.card[:postal_code] ||= display_warning("POSTAL CODE") %>
      <% end %>

      <% if type == "http://schema.org/Event" ||   type == "http://schema.org/EventSeries" %>
        -
        <%= @entity.card[:location_name] %>
        -
        <%= @entity.card[:start_date] %>
        <% if @entity.card[:end_date] %>
          -
          <% days =
            1 +
              (
                (
                  Time.parse(@entity.card[:end_date]) -
                    Time.parse(@entity.card[:start_date])
                ) / (60 * 60 * 24)
              ).to_i %>
          <%= days > 1 ? "span #{days} days" : "single day" %>

        <% end %>
      <% else %>
        <% if @entity.card[:disambiguating_description].present? %>
          -
          <%= @entity.card[:disambiguating_description] %>
        <% elsif @entity.type == "http://schema.org/Place" %>
          -
          <%= @entity.card[:locality] ||= display_warning("LOCALITY") %>
          -
          <%= @entity.card[:postal_code] ||= display_warning("POSTAL CODE") %>
        <% end %>
      <% end %>
    </div>

    <%= display_object(RDF.URI(@entity.entity_uri)) %>
  </div>

</turbo-frame>

<pre>
  <code>
    <%= @entity.graph.dump(:jsonld) %>
  </code>
</pre>
