<h1>Card</h1>
Test:
<turbo-frame id="card-<%= @frame_id %>">

  <div class="statement-object">
    <b><%= display_object(@entity.label) %></b>
    <div class="alternate-name">
      <% type = @entity.type %>
      <%= type.value&.split("/").last unless type == "http://schema.org/Thing" %>
      <% if type == "http://schema.org/PostalAddress" %>
        -
        <%= @entity.card[:street_address] ||= display_warning("ADDRESS") %>
        -
        <%= @entity.card[:locality] ||= display_warning("LOCALITY") %>
        -
        <%= @entity.card[:postal_code] ||= display_warning("POSTAL CODE") %>
      <% elsif type == "http://schema.org/Event" ||   type == "http://schema.org/EventSeries" %>
        -
        <%= @entity.card[:location_name] ||= display_warning("MISSING LOCATION") %>
        -
        <%= @entity.card[:start_date] ||= display_warning("MISSING START DATE") %>
        <% if @entity.card[:day_span] %>
          -
          <%= @entity.card[:day_span] %>
        <% end %>
      <% elsif @entity.entity_uri.ends_with?(".jpg",".png") %>
        <img
          src="<%= @entity.entity_uri %>"
          class="img-fluid"
          style="max-height: 100px;"
        >
      <% else %>
        <% if @entity.card[:disambiguating_description].present? %>
          -
          <%= @entity.card[:disambiguating_description] %>
        <% elsif @entity.type == "http://schema.org/Place" %>
          -
          <%= @entity.card[:locality] ||= display_warning("LOCALITY") %>
          -
          <%= @entity.card[:postal_code] ||= display_warning("POSTAL CODE") %>
        <% end %>
      <% end %>
    </div>

    <%= display_object(RDF.URI(@entity.entity_uri)) %>
  </div>

</turbo-frame>

<pre>
  <code>
    <%= @entity.graph.dump(:jsonld) %>
  </code>
</pre>
