<h1>Card</h1>
Test:
<turbo-frame id="card-<%= @frame_id %>">

  <div class="statement-object">
    <% solution = dereference_helper(@uri) %>
    <% puts "solution: #{solution.inspect}" %>
    <% if solution && solution[:streetAddress] %>
      <b>
        <%= solution[:streetAddress] %>,
        <%= solution[:addressLocality] %>,
        <%= solution[:postalCode] %>
      </b>
      <%= display_object(RDF.URI(@uri)) %>
    <% elsif solution && solution[:label] %>
      <b><%= display_object(solution[:label]) %></b>
      <div class="alternate-name">
        <%= display_object(solution[:type]) %>
        <% if solution && solution[:startDate] %>
          -
          <%= display_object(solution[:startDate]) %>
        <% end %>
        <% if solution && solution[:postalCode] %>
          -
          <%= display_object(solution[:postalCode]) %>
        <% end %>
      </div>
      <%= display_object(RDF.URI(@uri)) %>
    <% else %>
      <%= display_object(RDF.URI(@uri)) %>
    <% end %>

  </div>

</turbo-frame>

<pre>
  <code>
    <%= @entity.graph.dump(:jsonld) %>
  </code>
</pre>
