<% provide(:title, @entity.label) %>
<div class="container">
  <h1><%= @entity.label %></h1>
  Crawled data from
  <h5><a><%= @entity.entity_uri&.html_safe %></a></h5>
  <div style="background: lightgrey; padding: 5px">
    <%= if @entity.graph.count == 0
      render partial: "external_resource", locals: { entity: @entity }
    end %>
    <% solutions =
      SPARQL.execute(
        "SELECT distinct ?subject WHERE { ?subject ?pred ?obj . filter not exists {  ?subject <http://www.w3.org/1999/xhtml/vocab#role> ?obj } }",
        @entity.graph,
      ) %>
    <%= if solutions.count > @max_entities_per_page
      "<p> Showing first #{@max_entities_per_page} entities of #{solutions.count}</p>".html_safe
    end %>

    <% solutions.take(@max_entities_per_page).each do |s| %>
      <% next if s.subject.node? %>
      <% next if s.subject.statement? %>
      <% next if s.subject.value.start_with?("http://blank.node") %>

      <% new_entity = Entity.new(entity_uri: s.subject.value) %>
      <% new_entity.graph = @entity.graph %>
      <h3>
        <%= new_entity.label %>
      </h3>
      <% if !(s.subject.value.include?("blank")) %>
        <span class='badge bg-primary'>id</span>
        <%= use_prefix(s.subject.value) %>
      <% else %>
        Blank node
        <%= new_entity.type %>
      <% end %>
      <%= render partial: "statements_table", locals: { entity: new_entity } %>
    <% end %>
    <br>
    <br>
    <pre style="display: none;">
      <code>
        <% if  @entity.graph.count > 0 %>
          <%= @entity.graph.dump(:jsonld) %>
        <% end %>
      </code>
    </pre>
  </div>
</div>
