<% provide(:title, @entity.label) %>
<h1><%= @entity.label %>  </h1>
Crawled data from
<h5><a><%= use_prefix(@entity.entity_uri)&.html_safe %></a></h5>
<div style="background: lightgrey; padding: 5px">
  <%= render partial: "external_resource", locals:{ entity: @entity } if @entity.graph.count == 0 %>
  <% solutions = SPARQL.execute("SELECT distinct ?subject WHERE { ?subject ?pred ?obj }", @entity.graph) %>
  <% solutions.each do |s| %>
    <% next if s.subject.node? || s.subject&.value&.starts_with?("http://blank.node")  %>
    <% new_entity = Entity.new(entity_uri: s.subject.value) %>
    <% new_entity.graph = @entity.graph %>
    <h3> <%= new_entity.label %></h3>
    <%= use_prefix( s.subject.value) %>
    <%= render partial: "statements_table", locals:{ entity: new_entity }  %>
  <% end %>
  <br>
  <br>
  <pre>
      <code>
         <% if  @entity.graph.count > 0 %>
            <%= @entity.graph.dump(:jsonld) %>
         <% end %>
      </code>
   </pre>
</div>
