<div class="container">
  <h1>New Artifact</h1>
  <%= form_with(url: artifact_index_path, method: :post, local: true, class: 'container') do |form| %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name,
                      class: "form-control",
                      value: nil,
                      placeholder: "Enter name" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description,
                     class: "form-control",
                     value: nil,
                     placeholder: "Enter description",
                     rows: 5 %>
    </div>

    <div class="mb-3">
      <%= form.label :type, "Type", class: "form-label" %>
      <%= form.select :type,
                  options_for_select(
                    [%w[Website website], %w[Spreadsheet spreadsheet]],
                  ),
                  { include_blank: "Select type" },
                  class: "form-control",
                  id: "type-select" %>
    </div>

    <div class="mb-3" id="sheet-url-field" style="display: none;">
      <%= form.label :sheet_url, "Sheet URL", class: "form-label" %>
      <%= form.text_field :sheet_url,
                      class: "form-control",
                      placeholder: "Enter Google sheet URL" %>
    </div>

    <div class="mb-3" id="prefix-field" style="display: none;">
      <%= form.label :prefix, class: "form-label" %>
      <%= form.text_field :prefix,
                      class: "form-control",
                      value: nil,
                      placeholder: "Enter a base prefix for each row" %>
    </div>

    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const typeSelect = document.getElementById("type-select");
    const sheetUrlField = document.getElementById("sheet-url-field");
    const prefixField = document.getElementById("prefix-field");

    typeSelect.addEventListener("change", function() {
      if (typeSelect.value === "spreadsheet") {
        sheetUrlField.style.display = "block";
        prefixField.style.display = "block";
      } else {
        sheetUrlField.style.display = "none";
        prefixField.style.display = "none";
      }
    });
  });
</script>
