<div class="container">
  <h1>New Artifact</h1>

  <% if @artifact.errors %>
    <div style="color: red;">
      Errors:
      <%= @artifact.errors %>
    </div>
  <% end %>

  <%= form_with(url: artifact_index_path, method: :post, local: true, class: 'container',  data: { turbo: false }) do |form| %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name,
                      class: "form-control",
                      value: @artifact.name,
                      placeholder: "Enter name" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description,
                     class: "form-control",
                     value: @artifact.description,
                     placeholder: "Enter description",
                     rows: 5 %>
    </div>

    <div class="mb-3">
      <%= form.label :type, "Data pipeline", class: "form-label" %>
      <%= form.select :type,
                  options_for_select(
                    [
                      [t("artifact.new.orion_name"), "website"],
                      [t("artifact.new.smart_chip_name"), "spreadsheet-smart-chip"],
                      [t("artifact.new.a10s_name"), "spreadsheet-a10s"],
                    ],
                    @artifact.type,
                  ),
                  { include_blank: "Select type" },
                  class: "form-control",
                  id: "type-select" %>
    </div>

    <div class="mb-3" id="website-url-field" style="display: none;">
      <hr>
      <%= form.label :webpage_url, "Index page", class: "form-label" %>
      <%= form.text_field :webpage_url,
                      class: "form-control",
                      value: @artifact.webpage_url,
                      placeholder: "Enter URL of the index page" %>
      <br>
      <%= form.label :link_identifier, "Link identifier", class: "form-label" %>
      <%= form.text_field :link_identifier,
                      class: "form-control",
                      placeholder: "Enter CSS to select links to individual entities" %>
      <br>

      <%= form.label :headless, "Headless browser", class: "form-label" %>
      <%= form.radio_button :headless, class: "form-control" %>
      <%= form.label :pagination, "Use pagination", class: "form-label" %>
      <%= form.radio_button :pagination, class: "form-control" %>
      <br>

    </div>

    <div class="mb-3" id="sheet-url-field" style="display: none;">
      <hr>
      <%= form.label :sheet_url, "Google Sheet URL", class: "form-label" %>
      <%= form.text_field :sheet_url,
                      class: "form-control",
                      value: @artifact.sheet_url,
                      placeholder: "Enter Google sheet URL" %>

      <br>
      <%= t("artifact.new.smart_chip_instructions").html_safe %>
      <%= t("artifact.new.format_url").html_safe %>
    </div>

    <div class="mb-3" id="a10s-sheet-url-field" style="display: none;">
      <hr>
      <%= form.label :sheet_url, "Google Sheet URL", class: "form-label" %>
      <%= form.text_field :sheet_url,
                      class: "form-control",
                      value: @artifact.sheet_url,
                      placeholder: "Enter Google sheet URL for JSON-LD tab" %>
      <br>
      <%= t("artifact.new.a10s_instructions").html_safe %>
      <%= t("artifact.new.format_url").html_safe %>
    </div>

    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const typeSelect = document.getElementById("type-select");
    const websiteUrlField = document.getElementById("website-url-field");
    const a10sSheetUrlField = document.getElementById("a10s-sheet-url-field");
    const sheetUrlField = document.getElementById("sheet-url-field");
    


    typeSelect.addEventListener("change", function() {
      console.log (typeSelect.value);
      if (typeSelect.value === "spreadsheet-a10s") {
        websiteUrlField.style.display = "none";
        a10sSheetUrlField.style.display = "block";
        sheetUrlField.style.display = "none";
      
      } else if (typeSelect.value === "spreadsheet-smart-chip") {
         websiteUrlField.style.display = "none";
        a10sSheetUrlField.style.display = "none";
        sheetUrlField.style.display = "block";
     
      } else if (typeSelect.value === "website") {
         websiteUrlField.style.display = "block";
         a10sSheetUrlField.style.display = "none";
        sheetUrlField.style.display = "none";
      } else {
        websiteUrlField.style.display = "none";
        a10sSheetUrlField.style.display = "none";
        sheetUrlField.style.display = "none";
      }
    });
  });
</script>
