<div class="container">

  <h1 class="text-truncate">
    <%= @artifact.name ||= @artifact.artifact_id %>
  </h1>
  <%= render partial: "shared/clipboard", locals: { uri: @artifact.uri } %>
  <hr>
  <div class="mb-3">
    <p><strong>artifact:</strong>
      <%= @artifact.artifact_id %></p>
    <p><strong>group:</strong>
      <%= @artifact.group %></p>
    <p><strong>account:</strong>
      <%= @artifact.account %></p>
  </div>
  <div class="d-flex gap-2">
    <%= form_with url: push_latest_artifact_index_path, method: :post, local: true, html: { data: { controller: "confirm", action: "submit->confirm#confirm", confirm: "Are you sure you want to push the latest artifact to Artsdata?" } } do |form| %>
      <%= form.hidden_field :artifactUri, value: @artifact.uri %>
      <%= form.submit "push latest",
                  class: "btn btn-primary",
                  data: {
                    disable_with: "Pushing...",
                  } %>
    <% end %>

    <%= link_to "edit", artifact_path(@artifact), class: "btn btn-primary disabled" %>

    <%= form_with url: artifact_path, method: :delete, local: true, html: { data: { controller: "confirm", action: "submit->confirm#confirm", confirm: "Delete all versions of #{@artifact.artifact_id}?" } } do |form| %>
      <%= form.hidden_field :artifactUri, value: @artifact.uri %>
      <%= form.submit "delete",
                  class: "btn btn-danger",
                  data: {
                    disable_with: "Deleting...",
                  } %>
    <% end %>
    <%= link_to "index", artifact_index_path, class: "btn btn-secondary" %>
  </div>

  <hr>

  <h2>Artifact Versions</h2>
  <% if false %>
    <ul class="list-group">
      <% @artifact_versions.each do |version| %>
        <li class="list-group-item">
          <%= link_to version.version, artifact_version_path(version) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Coming soon.</p>
  <% end %>
</div>
