<div class="container">
  <h1>SHACL Validation</h1>

  <turbo-frame id="card-validation">
    <%= render partial: "flash_danger" %>
    <%= render partial: "shacl_secondary_report", locals: { entity: @entity } %>
    <%= @report %>

    <% duplicates =
      @entity
        .graph
        .query(
          [
            RDF.URI(@entity.entity_uri),
            RDF.URI("http://kg.artsdata.ca/ontology/potentialDuplicate"),
            nil,
          ],
        )
        .objects %>
    <% if duplicates.count > 0 %>
      <div class="alert alert-info">
        <strong>Potential Duplicates</strong>
        <% duplicates.each do |dup| %>
          <turbo-frame
            id='card-2'
            src="<%= dereference_card_path(uri: dup.value, frame_id: "2")%>"
            loading="lazy"
            target="_top"
          >
            loading...
          </turbo-frame>

        <% end %>
      </div>
    <% end %>

    <%= render partial: "statements_table",
    locals: {
      triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
      graph: @entity.graph,
    } %>
    <div
      data-controller="validation"
      data-validation-facts-value="<%= @entity.graph.dump(:jsonld).squish  %>"
    >
    </div>

  </turbo-frame>

  <pre>
    <code>
      <%= @entity.graph.dump(:jsonld) %>
    </code>
  </pre>

</div>
