<div class="reconcile-batch-page">
  <h1>
    Batch Reconciliation
  </h1>
  <!-- Include the React JavaScript and CSS -->
  <script type="module" crossorigin src="<%= vite_asset_path('index.js') %>"></script>
  <link rel="stylesheet" crossorigin href="<%= vite_asset_path('index.css') %>">

  <div id="root"
    data-user-uri="<%= @user_uri %>"
    data-reconciliation-endpoint="<%= @reconciliation_service_endpoint %>"
    data-mint-endpoint="<%= @mint_service_endpoint %>"
    data-link-endpoint="<%= @link_service_endpoint %>"
  ></div>
</div>
<!-- TODO: Figure out why bootstrap is reloaded for the bootstrap hamburger menu sub-menus to open (like Reports and Batch Reconcile). -->