<%= form_with(url: mint_wikidata_path, method: :get, local: true, class: 'container') do |form| %>
  <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_person_type,
                        class: "d-none",
                        id: "person",
                        checked: type == @wikidata_person_type || type.nil? %>
      <%= form.label :person,
                 t("minting_wikidata.person_tab"),
                 class:
                   "nav-link #{"active" if type == @wikidata_person_type || type.nil?}",
                 data: {
                   bs_toggle: "tab",
                   bs_target: "#person-content",
                 } %>
    </li>
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_organization_type,
                        class: "d-none",
                        id: "organization",
                        checked: type == @wikidata_organization_type %>
      <%= form.label :organization,
                 t("minting_wikidata.organization_tab"),
                 class: "nav-link #{"active" if type == @wikidata_organization_type}",
                 data: {
                   bs_toggle: "tab",
                   bs_target: "#organization-content",
                 } %>
    </li>
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_place_type,
                        class: "d-none",
                        id: "place",
                        checked: type == @wikidata_place_type %>
      <%= form.label :place,
                 t("minting_wikidata.place_tab"),
                 class: "nav-link #{"active" if type == @wikidata_place_type}",
                 data: {
                   bs_toggle: "tab",
                   bs_target: "#place-content",
                 } %>
    </li>
  </ul>
  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">

    <div
      class="tab-pane fade <%= "show active" if type == @wikidata_person_type || type.nil? %>"
      id="person-content"
      role="tabpanel"
    >
      <!-- Content for the "Person" tab -->
      <p><%= t("minting_wikidata.person_description") %>
      </p>
    </div>
    <div
      class="tab-pane fade <%= "show active" if type == @wikidata_organization_type %>"
      id="organization-content"
      role="tabpanel"
    >
      <!-- Content for the "Organization" tab -->
      <p>
        <%= t("minting_wikidata.organization_description") %></p>
    </div>
    <div
      class="tab-pane fade <%= "show active" if type == @wikidata_place_type %>"
      id="place-content"
      role="tabpanel"
    >
      <!-- Content for the "Place" tab -->
      <p><%= t("minting_wikidata.place_description") %></p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="input-group">
        <%= form.text_field :wikidata_search,
                        class: "form-control",
                        value: wikidata_search,
                        placeholder: t("minting_wikidata.search_placeholder") %>
        <%= form.submit "Search Wikidata", class: "btn btn-primary w-10" %>
      </div>
    </div>
  </div>

<% end %>
