<%= form_with(url: mint_wikidata_path, method: :get, local: true, class: 'container') do |form| %>
  <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_person_type,
                        class: "d-none",
                        id: "person",
                        checked: type == @wikidata_person_type || type.nil? %>
      <%= form.label :person,
                 "Person",
                 class:
                   "nav-link #{"active" if type == @wikidata_person_type || type.nil?}",
                 data: {
                   bs_toggle: "tab",
                 } %>
    </li>
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_organization_type,
                        class: "d-none",
                        id: "organization",
                        checked: type == @wikidata_organization_type %>
      <%= form.label :organization,
                 "Organization",
                 class: "nav-link #{"active" if type == @wikidata_organization_type}",
                 data: {
                   bs_toggle: "tab",
                 } %>
    </li>
    <li class="nav-item" role="presentation">
      <%= form.radio_button :type,
                        @wikidata_place_type,
                        class: "d-none",
                        id: "place",
                        checked: type == @wikidata_place_type %>
      <%= form.label :place,
                 "Place",
                 class: "nav-link #{"active" if type == @wikidata_place_type}",
                 data: {
                   bs_toggle: "tab",
                 } %>
    </li>
  </ul>

  <div class="row mb-3">
    <div class="col">
      <div class="input-group">
        <%= form.text_field :wikidata_search,
                        class: "form-control",
                        value: wikidata_search,
                        placeholder: "Name or Wikidata ID" %>
        <%= form.submit "Search Wikidata", class: "btn btn-primary w-10" %>
      </div>
    </div>
  </div>

<% end %>
