<h1>
  Minter Preview
</h1>

<h4>Mint a new Artsdata Entity of type
  <%= @classToMint %></h4>
<p>
  <turbo-frame
    id='card-1'
    src=<%= dereference_card_path(uri: "http://schema.org/#{@classToMint}", frame_id: "1")%>
    loading="lazy"
    target="_top"
  >
    loading...
  </turbo-frame>
</p>

<h4>Based on</h4>
<p>
  <turbo-frame
    id='card-2'
    src=<%= dereference_card_path(uri: @externalUri, frame_id: "2")%>
    loading="lazy"
    target="_top"
  >
    loading...
  </turbo-frame>
</p>

<h4><%= session[:name] %>
  acting on behalf of the authority</h4>
<p>
  <turbo-frame
    id='card-3'
    src=<%= dereference_card_path(uri: @authority, frame_id: "3")%>
    loading="lazy"
    target="_top"
  >
    loading...
  </turbo-frame>
</p>

<div
  data-controller="artsdata"
  data-artsdata-externaluri-value="<%= @externalUri %>"
  data-artsdata-classtomint-value="schema:<%= @classToMint %>"
  data-artsdata-authority-value="<%= @authority %>"
>
  <button
    data-artsdata-target="button"
    class="btn btn-danger"
    data-action="artsdata#mintEntity"
  >mint</button>

  <p data-artsdata-target="uri">
  </p>

</div>
