<h1>
  Minter Preview
</h1>

<div class="row">
  <div class="col-md">
    <p>
      <turbo-frame
        id='card-2'
        src="<%= dereference_card_path(uri: @externalUri, frame_id: "2")%>"
        loading="lazy"
        target="_top"
      >
        loading...
      </turbo-frame>
    </p>
    <p>Based on</p>
    <p>
      <turbo-frame
        id='card-validation'
        src="<%= validate_path(uri: @externalUri)%>"
        loading="lazy"
        target="_top"
      >
        validating...
      </turbo-frame>
    </p>

    <p><%= session[:name] %>
      acting on behalf of the authority</p>
    <p>
      <turbo-frame
        id='card-3'
        src="<%= dereference_card_path(uri: @authority, frame_id: "3")%>"
        loading="lazy"
        target="_top"
      >
        loading...
      </turbo-frame>
    </p>

    <div
      data-controller="artsdata"
      data-artsdata-mintendpoint-value="<%= Rails.application.credentials.artsdata_mint_endpoint %>"
      data-artsdata-externaluri-value="<%= @externalUri %>"
      data-artsdata-classtomint-value="<%= @classToMint %>"
      data-artsdata-authority-value="<%= @authority %>"
      data-artsdata-label-value="<%= @label %>"
      data-artsdata-language-value="<%= @language %>"
      data-artsdata-reference-value="<%= @reference %>"
    >

      <button
        data-artsdata-target="button"
        class="btn btn-danger"
        data-action="artsdata#mintEntity"
      >mint</button>

      <p data-artsdata-target="uri">
      </p>

    </div>
  </div>
  <div class="col-md">
    <!-- Second column content goes here -->
    <p>Reconciliation check:</p>
    <ul>
      <li><%= @label %></li>
      <li><%= @classToMint %></li>
      <%= "<li> #{@postalCode}</li>".html_safe if @postalCode %>
      <%= "<li> #{@startDate}</li>".html_safe if @startDate %>
    </ul>
    <!-- HACK: Remove commas from @label (@label.gsub(","," ")) to avoid
    triggering Application Firewalls (WAF) like Securi even with percent
    encoding -->
    <turbo-frame
      id='recon_results'
      src="<%= reconcile_query_path(query: @label&.gsub(","," "), type: @classToMint, externalUri: @externalUri, postalCode: @postalCode)%>"
      loading="lazy"
      target="_top"
    >
      loading...
    </turbo-frame>
  </div>
</div>
