<h1>
  Minter Preview
</h1>
<div class="row">
  <div class="col-md">
    <p>
      <turbo-frame
        id='card-2'
        src="<%= dereference_card_path(uri: @externalUri, frame_id: "2")%>"
        loading="lazy"
        target="_top"
      >
        loading...
      </turbo-frame>
    </p>
    <p>
      <turbo-frame
        id='card-validation'
        src="<%= validate_path(uri: @externalUri,  classToMint: @classToMint)%>"
        loading="lazy"
        target="_top"
      >
        validating...
      </turbo-frame>
    </p>

    <p><%= session[:name] %>
      acting on behalf of the authority</p>
    <p>
      <turbo-frame
        id='card-3'
        src="<%= dereference_card_path(uri: @authority, frame_id: "3")%>"
        loading="lazy"
        target="_top"
      >
        loading...
      </turbo-frame>
    </p>

    <div
      data-controller="artsdata"
      data-artsdata-mintendpoint-value="<%= Rails.application.credentials.artsdata_mint_endpoint %>"
      data-artsdata-externaluri-value="<%= @externalUri %>"
      data-artsdata-classtomint-value="<%= @classToMint %>"
      data-artsdata-authority-value="<%= @authority %>"
      data-artsdata-label-value="<%= @label %>"
      data-artsdata-language-value="<%= @language %>"
      data-artsdata-reference-value="<%= @reference %>"
    >

      <button
        data-artsdata-target="button"
        class="btn btn-danger"
        data-action="artsdata#mintEntity"
      >mint</button>

      <p data-artsdata-target="uri">
      </p>

    </div>
  </div>
  <div class="col-md" style="height: 1000px; overflow-y: auto;">
    <!-- Second column content goes here -->
    <p>Reconciliation check:</p>
    <%= form_with url: reconcile_query_path, method: :get, local: false, class: "form-inline", data: { turbo_frame: "recon_results" } do |form| %>
      <div class="mb-1 row">
        <%= form.label :query, "Name", class: "col-sm-1 col-form-label" %>
        <div class="col-sm-11">
          <%= form.text_field :query, value: @label, class: "form-control" %>
        </div>
      </div>
      <div class="mb-1 row">
        <%= form.label :type, "Type", class: "col-sm-1 col-form-label" %>
        <div class="col-sm-11">
          <%= form.text_field :type,
                          value: classToReconcile(@classToMint),
                          class: "form-control" %>
        </div>
      </div>
      <% if @postalCode %>
        <div class="mb-1 row">
          <%= form.label :postalCode, "Postal", class: "col-sm-1 col-form-label" %>
          <div class="col-sm-11">
            <%= form.text_field :postalCode, value: @postalCode, class: "form-control" %>
          </div>
        </div>
      <% end %>
      <% if false %>
        <div class="mb-1 row">
          <%= form.label :startDate, "Start", class: "col-sm-1 col-form-label" %>
          <div class="col-sm-11">
            <%= form.text_field :startDate, value: @startDate, class: "form-control me-3" %>
          </div>
        </div>
      <% end %>
      <%= form.hidden_field :externalUri, value: @externalUri %>
      <div class="text-center">
        <%= form.submit "Reconcile", class: "btn btn-sm btn-outline-dark mb-3" %>
      </div>
    <% end %>
    <!-- HACK: Remove commas from @label (@label.gsub(","," ")) to avoid
    triggering Application Firewalls (WAF) like Securi even with percent
    encoding. This may be removed if there is no WAF problem. -->
    <turbo-frame
      id='recon_results'
      src="<%= reconcile_query_path(query: @label&.gsub(","," "), type: classToReconcile(@classToMint), externalUri: @externalUri, postalCode: @postalCode)%>"
      loading="lazy"
      target="_top"
    >
      loading...
    </turbo-frame>
  </div>
</div>
