<div class="container">
  <h1>
    <%= t("ical.ical_feeds") %>
  </h1>
  <p>
    <%= t("ical.description").html_safe %>
  </p>

  <ul>
    <% @icals.each do |ical| %>
      <li>
        <div data-controller="clipboard" data-clipboard-success-content-value="copied">
          <%= humanize_url(ical["download_url"]) %>

          <a href="<%= ical[:jsonld_url] %>" target="_blank">
            JSON-LD
          </a>
          |
          <a href="<%= ical["html_url"] %>" target="_blank">
            edit
          </a>
          |
          <a href="<%= ical[:feed_url] %>" target="_blank">
            iCal Feed
          </a>

          <div data-clipboard-target="source" style="display: none;"><%= ical[:feed_url] %></div>
          <a
            class="cursor-pointer"
            data-action="clipboard#copy"
            data-clipboard-target="button"
            title="Copy URI"
          ><%= render partial: "shared/icon_copy" %>
          </a>
        </div>

      </li>
    <% end %>
  </ul>
  <hr>
  <h3>
    <%= t("ical.help.title") %>
  </h3>
  <p>
    <%= t("ical.help.description").html_safe %>
  </p>
  Events of type <code>schema:Event</code> with properties:
        <ul>
        <li> <code>schema:name</code>
        <li> <code>schema:startDate</code>
        <li><code>schema:endDate</code>
        <li><code>schema:location</code>
        <li><code>schema:description</code>
        <li> <code>schema:url</code>
        </ul>
        Nested location of type <code>schema:Place</code> with properties:
        <ul>
        <li> <code>schema:name</code>
        <li> <code>schema:address</code>
        </ul>
        Nested address of type <code>schema:PostalAddress</code> with properties:
        <ul>
        <li> <code>schema:streetAddress</code>
        <li> <code>schema:addressRegion</code>
        <li> <code>schema:addressCountry</code>
        <li> <code>schema:postalCode</code>
        <li> <code>schema:addressLocality</code>
        </ul>
</div>
