<!-- Inputs:subject = RDF subject, graph = class RDF::Graph TODO: remove button
if there is already a sameAs to Artsdata ID-->
<% if @show_add_sameas_button %>

  <% if  subject.node? %>
    <% node_types = graph.query([subject, RDF.type, nil]).objects %>
    <% if (@target_types & node_types).present? %>
      <% sameas = graph.query([subject, RDF::Vocab::SCHEMA.sameAs, nil]).objects %>

      <% if !sameas.to_s.include?("kg.artsdata.ca") %>
        <div class="input-group mb-3">
          <!-- Form to submit the input field value and facts -->
          <%= form_with url: mint_link_facts_path, method: :post, local: true, html: { data: { turbo: "false" } }  do |form| %>
            <%= form.text_field :adUri,
                            class: "form-control",
                            placeholder: "URI to link to this entity",
                            required: true %>
            <%= form.hidden_field :externalReference, value: @entity.graph_uri %>
            <%= form.hidden_field :facts, value: dump_jsonld(subject, graph) %>
            <%= form.hidden_field :classToMint, value: (@target_types & node_types).first %>
            <%= form.submit "Add sameAs", class: "btn btn-sm btn-secondary" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
