<!-- Input: annotations -->
<div class="annotation">

  <% if annotations.count > 0 %>
    <% random = rand(10_000) %>
    <div
      class="reference accordion"
      style="--bs-accordion-btn-padding-y: 5px;--bs-accordion-border-width: 0px;"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h6 class="accordion-header">
          <button
            class="accordion-button btn-sm collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%=random%>"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <span><%= annotations.count %>
              <%= "annotation".pluralize(annotations.count) %></span>
          </button>
        </h6>
        <div
          id="collapse<%=random%>"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <% annotations.each do |a| %>
            <div class="accordion-body">

              <div class="statement">
                <div class="statement-predicate">
                  <%= display_object(a.predicate) %>
                </div>
                <div class="statement-objects">
                  <div class="statement-object">
                    <% if a.object.node? %>
                      <%= render partial: "statements_table",
                      locals: {
                        triples: graph.query([a.object, nil, nil]),
                        graph: graph,
                      } %>
                    <% else %>
                      <%= display_label(a.object) %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
