<!-- Input: annotations (for checking if any exist), subject, predicate, object -->
<div class="annotation">

  <% # Check if this triple might have annotations by trying to query from the already-loaded graph
     # If annotations exist in graph, show accordion; otherwise turbo-frame will check lazily
     annotation_subject = RDF.Statement(subject, predicate, object)
     has_annotations = annotations.count > 0 
  %>
  
  <% if has_annotations %>
    <% random = rand(10_000) %>
    <div
      class="reference accordion"
      style="--bs-accordion-btn-padding-y: 5px;--bs-accordion-border-width: 0px;"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h6 class="accordion-header">
          <button
            class="accordion-button btn-sm collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%=random%>"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <span><%= annotations.count %>
              <%= "annotation".pluralize(annotations.count) %></span>
          </button>
        </h6>
        <div
          id="collapse<%=random%>"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <turbo-frame
            id='annotations-<%= random %>'
            src="<%= entity_triple_annotations_path(
              subject: subject.to_s,
              predicate: predicate.to_s,
              object: object.to_s,
              frame_id: random
            ) %>"
            loading="lazy"
            target="_top"
          >
            <div class="accordion-body">Loading annotations...</div>
          </turbo-frame>
        </div>
      </div>
    </div>
  <% end %>
</div>
