<div class="statement-objects">
  <% solutions =
    SPARQL.execute(
      "SELECT  ?obj WHERE { <#{entity.entity_uri}> <#{predicate}> ?obj }",
      entity.graph,
    ) %>
  <turbo-frame id="objects-frame-<%= predicate_hash %>">
    <% solutions.each do |s| %>
      <div class="statement-object">
        <% if s.obj.uri? && s.obj.value.starts_with?("http://blank.node") %>
          <%= render partial: "statements_table",
          locals: {
            entity: Entity.new(entity_uri: s.obj, graph: entity.graph),
          } %>
        <% elsif s.obj.uri? %>
          <% frame_id = rand(10_000) %>
          <turbo-frame
            id='card-<%= frame_id %>'
            src="<%= dereference_card_path(uri: s.obj.to_s, frame_id: frame_id)%>"
            loading="lazy"
            target="_top"
          >
            loading...
          </turbo-frame>
        <% else %>
          <%= display_object(s.obj) %>
        <% end %>
        <!-- SHACL --> <!-- Annotations -->
        <%= render partial: "annotations",
        locals: {
          entity: entity,
          predicate: predicate,
          object: s.obj,
        } %>

      </div>
    <% end %>
  </turbo-frame>
</div>
