<!-- Inputs: triples class RDF::Solutions, graph class RDF::Graph -->
<div class="meta">
  <%= render partial: "entity_errors",
  locals: {
    subject: triples.first&.subject,
    graph: graph,
  } %>
  <% properties = triples.map { |s| s.predicate }.uniq %>
  <% properties.each do |prop| %>

    <div class="statement">
      <div class="statement-predicate">
        <%= display_label(prop) %>
      </div>
      <div class="d-flex flex-column w-100">
        <%= render partial: "statement_objects",
        locals: {
          triples: triples.select { |s| s.predicate == prop },
          predicate_hash: prop.to_s.hash,
          graph: graph,
        } %>
        <div id='property-claims-div-<%= prop.to_s.hash %>' class="d-none">
          <turbo-frame
            id='property-claims-<%= prop.to_s.hash %>'
            src="<%= entity_property_claims_path(subject: @entity.entity_uri, predicate: prop.to_s) %>"
            loading="lazy"
            target="_top"
          >
        </div>
        </turbo-frame>
      </div>
      <%= render partial: "extra_buttons",
      locals: {
        subject: triples.first.subject,
        predicate: prop,
        predicate_hash: prop.to_s.hash,
      } %>
      
    </div>
  <% end %>
  <%= if triples.first&.subject&.node?
    render partial: "add_sameas_button",
    locals: {
      subject: triples.first.subject,
      graph: graph,
    }
  end %>
</div>
