<div class="meta">
  <%= render partial: "entity_errors", locals: { entity: entity } %>
  <% solutions =
    SPARQL.execute(
      "SELECT distinct ?pred WHERE { <#{entity.entity_uri}> ?pred ?obj }",
      entity.graph,
    ) %>
  <% solutions.each do |s| %>
    <div class="statement">
      <div class="statement-predicate">
        <%= display_label(s.pred.to_s) %>
      </div>
      <% predicate_hash = s.pred.to_s.hash %>
      <%= render partial: "statement_objects",
      locals: {
        entity: entity,
        predicate: s.pred,
        predicate_hash: predicate_hash,
      } %>

      <% if !entity.entity_uri.starts_with?("http://blank.node") && @show_expand_button %>
        <% if @url %>
          <div
            data-controller="githubapi"
            data-githubapi-token-value="<%= session[:token] %>"
            data-githubapi-url-value="<%= @url %>"
            data-githubapi-method-value="<%= @httpMethod %>"
            data-githubapi-httpbody-value="<%= @httpBody %>"
          >
            <button
              data-githubapi-target="button"
              class="btn btn-danger m-3"
              data-action="githubapi#runAction"
            >Run Action</button>

            <p class="m-3" data-githubapi-target="result">
            </p>
          </div>
        <% end %>
        <div class="statement_buttons">

          <%= link_to entity_expand_path(subject: entity.entity_uri, predicate: s.pred.to_s, predicate_hash: predicate_hash),  
                  data: {"turbo-frame" => "objects-frame-#{predicate_hash}"},  
                  title: "Show all datasets",
                  id: predicate_hash, 
                  onclick: "document.getElementById('#{predicate_hash}').firstElementChild.style.fill = 'red';" do %>
            <%= render partial: "shared/icon_stack" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
