<!-- Inputs: triples = class RDF::Solutions, predicate_hash = unique turbo
frame id, graph = class RDF::Graph -->
<div class="statement-objects">
  <turbo-frame id="objects-frame-<%= predicate_hash %>">
    <% triples.each do |triple| %>
      <% setup_action(triple.object, triple.predicate) %>
      <div class="statement-object">
        <% if triple.object.statement? %>
          <%= display_object(triple.object) %>
        <% elsif triple.object.node? %>
          <% trips = graph.query([triple.object, nil, nil]) %>
          <% if trips.count > 0 %>
            <%= render partial: "statements_table", locals: { triples: trips, graph: graph } %>
          <% else %>
            <%= display_object(triple.object) %>
          <% end %>
        <% elsif triple.object.uri? %>
          <% if auto_dereference(triple.object.to_s) %>
            <turbo-frame
              id='card-<%= @frame_id %>'
              src="<%= dereference_card_path(uri: triple.object.to_s, frame_id: @frame_id)%>"
              loading="lazy"
              target="_top"
            >
              <%= triple.object.to_s %>
            </turbo-frame>
          <% else %>
            <!-- click button to dereference -->
            <turbo-frame id='card-<%= @frame_id %>' target="_top">
              <%= display_object(triple.object) %>
              <%= link_to "&nbsp;#{render partial: "shared/icon_expand"}".html_safe,
              dereference_card_path(uri: triple.object.to_s, frame_id: @frame_id),
              data: {
                turbo_frame: "card-#{@frame_id}",
              } %>
            </turbo-frame>
          <% end %>
        <% else %>
          <%= display_object(triple.object) %>
        <% end %>
        <!-- SHACL --> <!-- Annotations -->
        <% annotation_subject =
          RDF.Statement(triple.subject, triple.predicate, triple.object) %>
        <%= render partial: "annotations",
        locals: {
          annotations: graph.query([annotation_subject, nil, nil]),
          graph: graph,
        } %>
      </div>
    <% end %>
  </turbo-frame>
</div>
