<div class="statement-objects">
  <% solutions =
    SPARQL.execute(
      "SELECT  ?obj WHERE { <#{entity.entity_uri}> <#{predicate}> ?obj }",
      entity.graph,
    ) %>
  <turbo-frame id="objects-frame-<%= predicate_hash %>">
    <% solutions.each do |s| %>
      <% @httpMethod = s.obj.to_s if predicate == "http://schema.org/httpMethod" %>
      <% @httpBody = s.obj.to_s if predicate == "http://schema.org/httpBody" %>
      <% @url = s.obj.to_s if predicate == "http://schema.org/urlTemplate" %>
      <div class="statement-object">
        <% if s.obj.uri? && s.obj.value.starts_with?("http://blank.node") %>
          <%= render partial: "statements_table",
          locals: {
            entity: Entity.new(entity_uri: s.obj, graph: entity.graph),
          } %>
        <% elsif s.obj.uri? %>
          <% @frame_id ||= 0 %>
          <% @frame_id += 1 %>
          <% if  @frame_id < 8 %>
            <!-- Limit the number of frames -->
            <turbo-frame
              id='card-<%= @frame_id %>'
              src="<%= dereference_card_path(uri: s.obj.to_s, frame_id: @frame_id)%>"
              loading="lazy"
              target="_top"
            >
              <%= s.obj.to_s %>
            </turbo-frame>
          <% else %>
            <span>
              <%= display_object(s.obj) %>
              (expand)
            </span>
          <% end %>
        <% else %>
          <%= display_object(s.obj) %>
        <% end %>
        <!-- SHACL --> <!-- Annotations -->
        <%= render partial: "annotations",
        locals: {
          entity: entity,
          predicate: predicate,
          object: s.obj,
        } %>
      </div>
    <% end %>
  </turbo-frame>

</div>
