<div class="container">
  <% if session[:name] %>
    <h3>
      <%= t("Welcome back") %>
      <%= session[:name] %>
    </h3>
    <p>
      Personal dashboard coming soon...
    </p>
    <li>
      <%= link_to "All Data Feeds",
      query_show_path(sparql: "feeds_all", title: "Data Feeds") %>
    </li>
    <li> 
      <%= link_to "ADC Member Table",
      query_show_path(sparql: "custom/adc-members", title: "ADC Member Table") %>
    </li>
    <hr>
  <% end %>
  <% if I18n.locale == :fr %>
    <%= render partial: "/home-fr" %>
  <% else %>
    <%= render partial: "/home-en" %>
  <% end %>

</div>
