<div class="container">
  <% if session[:name] %>
    <h3>
      <%= t("dashboard_title") %>
      <%= session[:name] %>
    </h3>
    <hr>
    <h4>
      <%= t("favourite_reports") %>
    </h4>
    <ul>
      <li>
        <%= link_to "All Data Feeds",
        query_show_path(sparql: "feeds_all", title: "Data Feeds") %>
      </li>
      <li>
        <%= link_to "Recently Minted Events",
        query_show_path(
          sparql: "custom/recent_event_mints",
          title: "Recently Minted Events",
        ) %>
      </li>
      <li>
        <%= link_to "ADC Member Table",
        query_show_path(sparql: "custom/adc-members", title: "ADC Member Table") %>
      </li>
    </ul>
    <turbo-frame
      id='sparqls'
      src="<%= github_sparqls_path %>"
      loading="lazy"
      target="_blank"
    >
      loading...
    </turbo-frame>

    <hr>
  <% end %>
  <% if I18n.locale == :fr %>
    <%= render partial: "/home-fr" %>
  <% else %>
    <%= render partial: "/home-en" %>
  <% end %>

</div>
