<h1>Dashboard</h1>
<%= "Welcome back #{session[:name]}!" if session[:name] %>

<h2>Lists</h2>
<%= link_to "Upcoming Events from Footlight", query_show_path(sparql: "custom/footlight-upcoming-events") %>
<br>
<%= link_to "Upcoming Events from National Arts Centre", query_show_path(sparql: "custom/nac-events") %>
<br>
<%= link_to "CAPACOA Members", query_show_path(sparql: "custom/capacoa-orgs") %>
<br>
<%= link_to "ScenePro Organizations",
query_show_path(sparql: "custom/scenepro-orgs") %>
<br>
<%= link_to "ScenePro Venues", query_show_path(sparql: "custom/scenepro-venues") %>
