<div style='margin: 4px;'>

  <% annotations.first.each do |key, value| %>
    <% if key == "http://www.w3.org/ns/prov#wasDerivedFrom" %>
    <% random = rand(10000) %>
    
      <div class="reference accordion"  style=" --bs-accordion-btn-padding-y: 5px;--bs-accordion-border-width: 0px;" id="accordionFlushExample">
       <div class="accordion-item">
         <h6 class="accordion-header">
         <button class="accordion-button btn-sm collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=random%>" aria-expanded="false" aria-controls="flush-collapseOne">
            <span><%= value.count %> <%= t("reference").pluralize(value.count) %></span>
          </button>
         
        </h6>
        <div id="collapse<%=random%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <% value.each do |ref|  %>
                <% solutions = display_reference(ref["@id"]) %>
                <% solutions.each do |solution| %>
                  <% if solution.p.value != "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"  %>
                    <%= display_label(solution.p.value) %>:  <%= display_label(solution.o.value) %> <br>
                  <% end %>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>   
       
      </div>
    <% else %>
      <% value.each do |qual| %>
      <% if !key.to_s.include? "/value/"%>
        <%= display_label(key) %>:  <%= display_label(qual["@id"]) || qual["@value"] %><br>
      <% end %>
       <% end %>
    <% end %>
  <% end %>
</div>