<div class="alternate-name d-flex align-items-center mt-1">
  <% if !@entity.entity_uri.starts_with?("http://kg.artsdata.ca/") %>
    <%= link_to "Dereference",
    dereference_external_path(uri: @entity.entity_uri),
    class: "text-decoration-none me-2",
    rel: "nofollow" %>
    |
    <a
      href="<%= @entity.entity_uri %>"
      class="text-decoration-none ms-2 me-2"
      rel="nofollow"
    >
      Visit
    </a>
    <% if user_has_access?("cms_links") %>
      |
      <%= link_to "CMS v2", footlight_export_path(uri: @entity.entity_uri, version: "v2") %>
      |
      <%= link_to "CMS v3", footlight_export_path(uri: @entity.entity_uri, version: "v3") %>
    <% end %>
    |
  <% else %>
    <%= render partial: "entity/download_dropdown", locals: { entity: @entity } %>
    |
    <% if user_has_access?("ranked_links") %>
      <% if ranked_link(@entity) %>
        <%= link_to "Ranked",
        dereference_external_path(uri: ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if cms_ranked_link(@entity) %>
        <%= link_to "CMS view",
        dereference_external_path(uri: cms_ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if aggregator_place_v2_link(@entity) %>
        <%= link_to "Aggregator Place V2",
        dereference_external_path(uri: aggregator_place_v2_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if capacoa_ranked_link(@entity) %>
        <%= link_to "CAPACOA view",
        dereference_external_path(uri: capacoa_ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
    <% end %>
  <% end %>
  <a
    href="#"
    onclick="alert('Wikidata style discussion coming soon.');"
    id="aduriapi"
    class="text-decoration-none ms-2 me-2"
    rel="nofollow"
  >Discussion</a>
  |
  <a
    href="<%= graphdb_link(@entity.entity_uri) %>"
    class="text-decoration-none ms-2 me-2"
    rel="nofollow"
    id="graphdb"
  >GraphDB</a>
  <% if session[:name] %>
    |
    <%= link_to "Minter",
    mint_preview_path(externalUri: @entity.entity_uri, label: @entity.label&.value),
    class: "ms-2 me-2",
    rel: "nofollow" %>
    |
    <%= form_with url: destroy_entity_path, method: :delete, local: true, html: { data: { controller: "confirm", action: "submit->confirm#confirm", confirm: "Delete all triples in subject and object positions?" } } do |form| %>
      <%= form.hidden_field :artifactUri, value: @entity.entity_uri %>
      <%= form.submit "Delete",
                  class: "btn mt-0 ps-2 pe-2 p-0 alternate-name text-decoration-none",
                  data: {
                    disable_with: "Deleting...",
                  } %>
    <% end %>
  <% end %>
</div>
