<div class="alternate-name">
  <% if !@entity.entity_uri.starts_with?("http://kg.artsdata.ca/") %>
    <%= link_to "Dereference",
    dereference_external_path(uri: @entity.entity_uri),
    rel: "nofollow" %>
    |
    <a href="<%= @entity.entity_uri %>" rel="nofollow">
      Visit</a>
    <% if user_has_access?("cms_links") %>
      |
      <%= link_to "CMS v2", footlight_export_path(uri: @entity.entity_uri, version: "v2") %>
      |
      <%= link_to "CMS v3", footlight_export_path(uri: @entity.entity_uri, version: "v3") %>
    <% end %>
    |
  <% else %>
    <% if user_has_access?("ranked_links") %>
      <% if ranked_link(@entity) %>
        <%= link_to "Ranked",
        dereference_external_path(uri: ranked_link(@entity)),
        rel: "nofollow" %>
        |
      <% end %>
      <% if cms_ranked_link(@entity) %>
        <%= link_to "Ranked",
        dereference_external_path(uri: cms_ranked_link(@entity)),
        rel: "nofollow" %>
        |
      <% end %>
      <% if capacoa_ranked_link(@entity) %>
        <%= link_to "CAPACOA view",
        dereference_external_path(uri: capacoa_ranked_link(@entity)),
        rel: "nofollow" %>
        |
      <% end %>
    <% end %>
  <% end %>
  <a
    href="#"
    onclick="alert('Wikidata style discussion coming soon.');"
    id="aduriapi"
  >Discussion</a>
  |
  <%= link_to "JSON",
  entity_path(uri: @entity.entity_uri, format: :jsonld),
  data: {
    turbo_prefetch: false,
  } %>
  |
  <a href="<%= graphdb_link(@entity.entity_uri) %>" rel="nofollow" id="graphdb">GraphDB</a>
  <% if session[:name] %>
    |
    <%= link_to "minter",
    mint_preview_path(externalUri: @entity.entity_uri, label: @entity.label&.value),
    rel: "nofollow" %>
  <% end %>
</div>
