<div class="alternate-name d-flex align-items-center mt-1">
  <% if !@entity.entity_uri.starts_with?("http://kg.artsdata.ca/") %>
    <%= link_to "Dereference",
    dereference_external_path(uri: @entity.entity_uri),
    class: "text-decoration-none me-2",
    rel: "nofollow" %>
    |
    <a
      href="<%= @entity.entity_uri %>"
      class="text-decoration-none ms-2 me-2"
      rel="nofollow"
    >
      Visit
    </a>
    <% if user_has_access?("cms_links") %>
      |
      <%= link_to "CMS v3", footlight_export_path(uri: @entity.entity_uri, version: "v3") %>
      |
      <%= link_to "CMS v4", footlight_export_path(uri: @entity.entity_uri, version: "v4") %>
    <% end %>
    |
  <% else %>
    <%= render partial: "entity/download_dropdown", locals: { entity: @entity } %>
    |
    <% if user_has_access?("ranked_links") %>
      <% if ranked_link(@entity) %>
        <%= link_to "Ranked",
        dereference_external_path(uri: ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if query_ranked_link(@entity) %>
        <%= link_to "Ranked (properties)",
        dereference_external_path(uri: query_ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if aggregator_place_v2_link(@entity) %>
        <%= link_to "Aggregator Place V2",
        dereference_external_path(uri: aggregator_place_v2_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
      <% if capacoa_ranked_link(@entity) %>
        <%= link_to "CAPACOA view",
        dereference_external_path(uri: capacoa_ranked_link(@entity)),
        class: "text-decoration-none ms-2 me-2",
        rel: "nofollow" %>
        |
      <% end %>
    <% end %>
  <% end %>
  <a
    href="#"
    onclick="alert('Wikidata style discussion coming soon.');"
    id="aduriapi"
    class="text-decoration-none ms-2 me-2"
    rel="nofollow"
  >Discussion</a>
  |
  <a
    href="<%= graphdb_link(@entity.entity_uri) %>"
    class="text-decoration-none ms-2 me-2"
    rel="nofollow"
    id="graphdb"
  >GraphDB</a>
  <% if session[:name] %>
    |
    <%= link_to "Minter",
    mint_preview_path(externalUri: @entity.entity_uri, label: @entity.label&.value),
    class: "ms-2 me-2",
    rel: "nofollow" %>
     <% if user_has_access?("refresh_entity") %>
      |
      <a 
        rel="nofollow"
        class="text-decoration-none ms-2 me-2"
        data-controller="refresh-entity"
        data-action="click->refresh-entity#refresh"
        data-refresh-entity-uri-value="<%= @entity.entity_uri %>"
      >Refresh</a>
    <% end %>
    |
    <%= form_with url: destroy_entity_path, method: :delete, local: true, html: { data: { controller: "confirm", action: "submit->confirm#confirm", confirm: "Delete all triples in subject and object positions?" } } do |form| %>
      <%= form.hidden_field :uri, value: @entity.entity_uri %>
      <%= form.submit "Delete",
                  class: "btn mt-0 ps-2 pe-2 p-0 alternate-name text-decoration-none",
                  data: {
                    disable_with: "Deleting...",
                  } %>
    <% end %>
  <% end %>
 
</div>
<!-- Refresh Modal -->
<div class="modal fade" id="dryrunModal" tabindex="-1" aria-labelledby="dryrunModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dryrunModalLabel">Refresh Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dryrunModalBody">
        <!-- Dryrun response will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="dryrunModalOk">OK</button>
      </div>
    </div>
  </div>

</div>
