  <div class="statement-objects">
  <turbo-frame id="objects-frame-<%= predicate_hash %>">
  <% if value.class == Array %>
    <% value.each do |statement| %>
    <div class="statement-object">
      <% if statement["@id"] %>
        <% frame_id = rand(10000)%>
        <turbo-frame id='card-<%= frame_id %>' src=<%= dereference_card_path(uri: statement["@id"], frame_id: frame_id)%> loading="lazy" target="_top">
        loading...
        </turbo-frame>
        
      <% else %>
        <a> <%= display_literal(statement) %></a>
      <% end %>
      <% if statement["@annotation"] %>
        <%= render partial: "annotation" , locals: {annotations: statement["@annotation"] }%>
      <% end %>
    </div>
    <% end %>
  <% else %>
    <div class="statement-object">
      <%= value %>
    </div>
  <% end %>
    </turbo-frame>
  </div>

