<h1 id="adid"><%=  display_label(@entity.entity_uri)%>  </h1>
<a id="aduri">Disambuguating description</a>
<div id="desc" class="alternate-name">Another name | Also known as | <a href=<%= derived_link(@entity.entity_uri)%> id="aduriapi">derived statements</a> | <a href=<%= graphdb_link(@entity.entity_uri) %>  id="graphdb">graph db</a></div>
    
 <div class="meta">
    <% @entity.entity_jsonld.each do |prop, value| %>
      <div class="statement">
         <%= render partial: 'rdf_star_details', locals: { prop: prop, value: value }  %>
      </div>
    <% end %>
  </div>
   <pre>
      <code>
         <%= @entity.graph.dump(:jsonld) %>
      </code>
   </pre>
</div>
