<h1><%= @entity.label %>  </h1>
<a><%= use_prefix(@entity.entity_uri) %></a>
<%= render partial: "entity_nav" %>
<%= render partial: "external_resource", locals:{ entity: @entity } if @entity.graph.count == 0 %>
<%= render partial: "statements_table", locals:{ entity: @entity }  %>
<br>
<br>
<pre>
      <code>
         <% if  @entity.graph.count > 0 %>
            <%= @entity.graph.dump(:jsonld) %>
         <% end %>
      </code>
   </pre>
</div>
