<% provide(:title, @entity.label&.value) %>
<% provide(:image, @entity.image) %>
<% provide(:uri, @entity.entity_uri) %>

<div class="container">

  <h1>
    <%= @entity.label&.value&.html_safe %>
  </h1>

  <%= render partial: "shared/clipboard", locals: { uri: @entity.entity_uri } %>
  <%= render partial: "entity_nav" %>

  <% if @entity.graph.count == 0 %>
    <%= render partial: "external_resource", locals: { entity: @entity } %>
  <% else %>
    <%= "Non-authoritative".html_safe unless is_authoritative(@entity.entity_uri) %>
    <%= render partial: "statements_table",
    locals: {
      triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
      graph: @entity.graph,
    } %>
    <turbo-frame
      id='unsupported-claims'
      src="<%= entity_unsupported_claims_path(uri: @entity.entity_uri) %>"
      loading="lazy"
      target="_top"
    >
    </turbo-frame>
    <br>
    <turbo-frame
      id='reverse-statements'
      src="<%= entity_derived_statements_path(uri: @entity.entity_uri)%>"
      loading="lazy"
      target="_top"
    >
    </turbo-frame>

  <% end %>

</div>
<br>
<br>
