<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand", style:"padding:0" do %>
      <%= image_tag "artsdata_logo_circle.png",
      alt: "Artsdata Logo",
      style: "height: 40px; width: auto;" %>
    <% end %>

    <div class="d-none d-md-block" style="margin-left: auto;">
      <form class="d-flex" role="search" action="<%= reconcile_query_path %>">
        <div class="input-group">
          <input
            class="form-control"
            name="query"
            type="search"
            placeholder='<%= t("Name or URI") %>'
            aria-label="Search"
            aria-describedby="button-addon2"
          />
          <button id="button-addon2" class="btn btn-outline-secondary me-2" type="submit">
            <%= t("Search") %>
          </button>
        </div>
      </form>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
        <% if session[:handle] %>
          <a class="nav-link" href="<%= github_url %>"><%= session[:handle] %></a>
        <% else %>
          <a class="nav-link" href="<%= github_url %>">Login using Github</a>
        <% end %>
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Data Feeds",
          query_show_path(sparql: "feeds_all", title: "Data Feeds"),
          class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            Reports
          </a>
          <ul class="dropdown-menu">
            <% if !session[:handle] %>
              <li>
                <a class="dropdown-item disabled" aria-disabled="true">Login to view your favourite reports</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            <% end %>
            <li><%= link_to "Recently Minted Events",
              query_show_path(
                sparql: "custom/recent_event_mints",
                title: "Recently Minted Events",
              ),
              class: "dropdown-item" %>
            </li>
            <li><%= link_to "Places with Events",
              query_show_path(sparql: "custom/places", title: "Places with Events"),
              class: "dropdown-item" %>
            </li>
            <li><%= link_to "LaVitrine Pipeline",
              query_show_path(
                sparql: "custom/lavitrine_sources_refresh_rate",
                title: "LaVitrine Pipeline",
              ),
              class: "dropdown-item" %>
            </li>
            <li><%= link_to "Upcoming National Arts Centre",
              query_show_path(
                sparql: "custom/nac-events",
                title: "Upcoming Events at National Arts Centre",
              ),
              class: "dropdown-item" %>
            </li>
            <li><%= link_to "CAPACOA Members",
              query_show_path(sparql: "custom/capacoa-members", title: "CAPACOA Members"),
              class: "dropdown-item" %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            External Links
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "SPARQL Query Service", sparql_path, class: "dropdown-item" %>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://culturecreates.github.io/artsdata-data-model/"
              >Artsdata Data Model Documentation</a>
            </li>

          </ul>
        </li>
        <hr>
        <li class="nav-item d-flex align-items-center">
          Language:&nbsp;
          <%= link_to "en", url_for(request.parameters.merge(locale: "en")) %>
          &nbsp;|&nbsp;
          <%= link_to "fr", url_for(request.parameters.merge(locale: "fr")) %>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
