<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand", style:"padding:0" do %>
      <%= image_tag "artsdata_logo_circle.png",
      alt: "Artsdata Logo",
      style: "height: 40px; width: auto;" %>
      <% if Rails.application.config.graph_api_endpoint != "http://db.artsdata.ca" %>
        <span class='badge bg-warning' style="font-size: 0.6em;"><%= Rails.application.config.graph_api_endpoint.split(".").first[7..-1] %> data</span>
      <% end %>

    <% end %>

    <div class="d-none d-md-block" style="margin-left: auto;">
      <form class="d-flex" role="search" action="<%= reconcile_query_path %>">
        <div class="input-group">
          <input
            class="form-control"
            name="query"
            type="search"
            placeholder='<%= t("search_for") %>'
            aria-label="Search"
            aria-describedby="button-addon2"
          />
          <button id="button-addon2" class="btn btn-outline-secondary me-2" type="submit">
            <%= t("search") %>
          </button>
        </div>
      </form>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
    data-turbo="false"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
        <% if session[:handle] %>
          <a class="nav-link" href="<%= github_url %>"><%= session[:handle] %></a>
        <% else %>
          <a class="nav-link" href="<%= github_url %>"><%= t("nav.login_using_github") %></a>
        <% end %>
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <%= link_to t("nav.home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("nav.all_data_feeds"),
          query_show_path(sparql: "feeds_all", title: "nav.data_feeds"),
          class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("nav.databus"), artifact_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("nav.ical_feeds"), ical_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("nav.mint_using_wikidata"),
          mint_wikidata_path,
          class: "nav-link",
          data: {
            turbo: false,
          } %>
        </li>

        <!-------------------------- BATCH RECONCILE DROPDOWN -------------------------->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            data-turbo="false"
          >
            <%= t("nav.batch_reconcile") %>
          </a>
          <ul class="dropdown-menu">
             <li><%= link_to t("nav.batch_reconcile_menu.tool"),
              reconcile_batch_path,
               data: { turbo: false },
              class: "dropdown-item text-wrap" %>
            </li>
            <li><%= link_to t("nav.batch_reconcile_menu.graphs_with_people_organizations"),
              query_show_path(
                sparql: "reconcile_controller/graphs_with_agents_to_reconcile"
              ),
              data: { turbo: false },
              class: "dropdown-item text-wrap" %>
            </li>
            <li><%= link_to t("nav.batch_reconcile_menu.graphs_with_places"),
              query_show_path(
                sparql: "reconcile_controller/graphs_with_places_to_reconcile"
              ),
              data: { turbo: false },
              class: "dropdown-item text-wrap" %>
            </li>
            <li>
              <a class="dropdown-item disabled" href="#"><%= t("nav.batch_reconcile_menu.graphs_with_events") %></a>
            </li>

          </ul>
        </li>
      
      <!------------------------ CONTROLLED VOCABULARIES DROPDOWN ----------------------->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            <%= t("nav.controlled_vocabularies") %>
          </a>
          <ul class="dropdown-menu">
            <turbo-frame id="controlled-vocabularies-list" src="<%= controlled_vocabularies_path %>" loading="lazy">
              <li><a class="dropdown-item disabled"><%= t("loading") %></a></li>
            </turbo-frame>
          </ul>
        </li>

      <!----------------------------- REPORTS DROPDOWN ------------------------------>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            <%= t("nav.reports") %>
          </a>
          <ul class="dropdown-menu">
            <% if !session[:handle] %>
              <li>
                <a class="dropdown-item disabled text-wrap" aria-disabled="true"><%= t("nav.login_to_view_reports") %></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            <% end %>
            <li><%= link_to t("reports.upcoming_events.title"),
              query_show_path(
                sparql: "custom/upcoming-events",
                title: "reports.upcoming_events.title",
                description: "reports.upcoming_events.description",
              ),
              class: "dropdown-item text-wrap" %>
            </li>
            <li><%= link_to t("reports.recently_minted_events.title"),
              query_show_path(
                sparql: "custom/recent_event_mints",
                title: "reports.recently_minted_events.title",
                description: "reports.recently_minted_events.description",
              ),
              class: "dropdown-item text-wrap" %>
            </li>
            <li><%= link_to t("reports.places_with_events.title"),
              query_show_path(
                sparql: "custom/places", 
                title: "reports.places_with_events.title"
              ),
              class: "dropdown-item text-wrap" %>
            </li>
            <li><%= link_to t("reports.people_with_artsdata_ids.title"),
              query_show_path(
                sparql: "custom/people_with_artsdata_ids",
                title: "reports.people_with_artsdata_ids.title",
                description: "reports.people_with_artsdata_ids.description",
              ),
              class: "dropdown-item text-wrap" %>
            </li>
             <li><%= link_to t("reports.organizations_with_artsdata_ids.title"),
              query_show_path(
                sparql: "custom/organizations_with_artsdata_ids",
                title: "reports.organizations_with_artsdata_ids.title",
                description: "reports.organizations_with_artsdata_ids.description",
              ),
              class: "dropdown-item" %>
            </li>
          </ul>
        </li>

        <!-- -------------------------- EXTERNAL LINKS DROPDOWN ------------------------- -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            <%= t("nav.external_links") %>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t("nav.sparql_query_service"), sparql_path, class: "dropdown-item text-wrap" %>
            </li>
            <li>
              <a
                class="dropdown-item text-wrap"
                href="https://culturecreates.github.io/artsdata-data-model/"
              ><%= t("nav.artsdata_data_model_documentation") %></a>
            </li>

          </ul>
        </li>
        <hr>
        <li class="nav-item d-flex align-items-center">
          Language:&nbsp;
          <%= link_to "en", url_for(request.parameters.merge(locale: "en")) %>
          &nbsp;|&nbsp;
          <%= link_to "fr", url_for(request.parameters.merge(locale: "fr")) %>
        </li>

        <li class="nav-item">
          <% if session[:handle] %>
            <a class="nav-link" href="<%= logout_url %>"><%= t("nav.logout") %></a>
          <% else %>
            <a class="nav-link" href="<%= github_url %>"><%= t("nav.login") %></a>
          <% end %>

        </li>

      </ul>

    </div>
  </div>
</nav>
