<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="padding:0" href="/">
      <%= image_tag "artsdata_logo_circle2x",
      alt: "Artsdata Logo",
      style: "height: 40px; width: auto;" %>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Feeds",
          query_show_path(sparql: "feeds_all", title: "External Feeds"),
          class: "nav-link" %>
        </li>

      </ul>
      <form class="d-flex" role="search" action="/entity">
        <input
          class="form-control me-2"
          name="uri"
          type="search"
          placeholder="URI"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">
          View
        </button>
      </form>
      <form class="d-flex" role="search" action="/reconcile/query">
        <input
          class="form-control me-2"
          name="query"
          type="search"
          placeholder="Name"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">
          Search
        </button>
      </form>
      <div class="navbar-nav">
        <a class="nav-link">
          <% github_url =
            "https://github.com/login/oauth/authorize?client_id=#{Rails.application.credentials.CLIENT_ID}&redirect_uri=#{github_callback_url}" %>
          <% if session[:name] %>
            <a class="nav-link active" aria-current="page" href="<%= github_url %>"><%= session[:name] %></a>
          <% else %>
            <a class="nav-link active" aria-current="page" href="<%= github_url %>">GitHub Login</a>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</nav>
