<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render partial: "layouts/nav" %>

    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash.alert %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <%= flash.notice %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
